<script>
    export let text = "";

    let showTooltip = false;

    function show() {
        showTooltip = true;
    }

    function hide() {
        showTooltip = false;
    }
</script>
<style>
    .tooltip {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
</style>
<span class="tooltip" on:mouseenter={show} on:mouseleave={hide}>
  <slot></slot>
    {#if showTooltip}
    <span class="tooltiptext">{text}</span>
  {/if}
</span>